//font-family
$font_family: Arial, Helvetica, sans-serif;

//color
$low_teal: #b2dfdb;
$mid_teal: #4db6ac;
$high_teal: #009688;

$light_blue_grey: #78909c;
$dark_blue_grey: #455a64;

$button_color: #fff;

//MAP
$map_width: 30vh;
$map_height: 30vh;

//SPINNER
$spinner_width: 5vh;
$spinner_height: 5vh;
