#search-layout {
  text-align: center;
}

#sort-buttons-container,
#distance-buttons-container {
  display: inline-block;
  margin: 2vh;
}

.btn {
  margin: {
    left: 0.2vh;
    right: 0.2vh;
  }
}

.hidden {
  display: none;
}
